.MainPrimeraParte{
    background-color: #000000;
    padding: 15px 120px;
    display: flex;

}

.MainPrimeraParte img{
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 500px){
    .MainPrimeraParte img{
       display: none;
    }

    .MainPrimeraParte{
        background-color: none;
        padding: 0px 0px;
        display: flex;
    
    }
}