.footer{
    background-color: #000016;
    display: flex;
    padding: 25px 0px;
    align-items: center;
    color: #fff;
    border-top-width: 5px;
    border-top-style: double;
    border-top-color: aqua;
    justify-content: center;
    flex-direction: column;
}

.footer p{
    text-align: center;
}