.no-existe{
    background-color: #000000;
    padding: 15px 120px;
    display: flex;

}

.no-existe img{
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 500px){
    .no-existe img{
       display: none;
    }

    .no-existe{
        background-color: none;
        padding: 0px 0px;
        display: flex;
    
    }
}